/* Connect font "Arial-Black"; */
@font-face {
  font-family: 'Arial';
  src: local("ArialBlack"), local("ArialBlack"),
	  url('../ArialBlack/ArialBlack.eot'),
	  url('../ArialBlack/ArialBlack.eot?#iefix') format('embedded-opentype'),
	  url('../ArialBlack/ArialBlack.woff') format('woff'),
	  url('../ArialBlack/ArialBlack.ttf') format('truetype');
	font-weight: 400;
  font-style: normal;
}