/* Connect font "Arial-Italic; */
@font-face {
  font-family: 'Arial';
  src: local("ArialItalic"), local("ArialItalic"),
    url('../Arial/ArialItalic/ArialItalic.eot'),
    url('../Arial/ArialItalic/ArialItalic.eot?#iefix') format('embedded-opentype'),
    url('../Arial/ArialItalic/ArialItalic.woff') format('woff'),
    url('../Arial/ArialItalic/ArialItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
