@import './fonts/Arial/all_Arial.styl';

color_bg = #f5f5f5;
color_text = #000000;


body{
  margin 0
  padding 0;
  width: 100%
  height: 100vh
  background: color_bg;
  color: color_text;
  font-size: 10px;
  font-family: Arial

  .todo{
    width: 70%;
    min-height: 100%
    margin: auto;
    display flex
    flex-wrap nowrap
    flex-direction column
    justify-content center
    transition all 1s ease;

    .todo-header{
      width: 100%;
      order: 1;
      flex: 0 1 auto;
      align-self: center;
      transition all 1s ease
      h1{
        text-align center
        font-size 3em
      }
    }


    .todo-main{
      width: 100%
      min-width: 375px;
      order: 2;
      flex: 1 1 auto;
      align-self: center;
      transition all 1s ease;
      position: relative;
      margin-top 20px
      &::before, &:after{
        content ''
        display: block;
        position: absolute;
        height: 50px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 10px 10px 0 0;
      }
      &::before{
        width: 98%;
        top: -10px;
        z-index: -2;
        background: color_bg - rgb(30,30,30);
      }
      &::after{
        width: 95%;
        top: -20px;
        z-index: -3;
        background: color_bg - rgb(12,12,12);
      }
    }


    .todo-footer{
      margin: 20px;
      display: block;
      order: 3;
      flex: 0 1 auto;
      align-self: center;
      transition all 1s ease
      text-align: center;
      p{
        font-size: 8px
      }
    }


  }


}



#main-list{
  background: color_bg - rgb(10,10,10);
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
  border: 1px solid (color_bg - rgb(50,50,50));
  border-bottom-color: transparent;
  transition all .5s ease



  .list-task:hover:not(:first-child) {
    background: color_bg - rgba(0, 0, 0, 0.1);
    //transform: scale(.99);
    transform: scale(1.01);
    box-shadow: 0px 1px 5px #000;
  }

  .list-task{
    display: grid;
    grid-template-columns: 40px 5fr 1fr auto;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    justify-items: stretch;
    align-items: stretch;
    padding: 10px;
    transition all .5s ease;

    .task-icon{
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .task-text{
      min-width: 190px;
      overflow: hidden;
    }
    .task-time{}
    .task-button{
      input{
        padding: 5px 10px;
      }
    }
  }
}
#main-form{
  background: color_bg - rgb(10,10,10);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  padding 0 10px
  border-radius: 0 0 10px 10px;
  border: 1px solid (color_bg - rgb(50,50,50));
  transition all .5s ease

  .form-column:nth-child(1), :nth-child(3), :nth-child(4) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

  .form-column:nth-child(2) {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }


  .form-column{
    display: block;
    height: 100%;
    margin 10px
    transition all .5s ease

    //input{}
    button{
      display: block;
      width: 100%;
      padding: 10px 15px;
    }
    textarea{
      display: block;
      width: 100%;
      resize: vertical;

    }

    textarea, input[type="text"]{
      display: block;
      height: 39px;
      min-height: 39px;
      border: 1px solid  (color_bg - rgb(10,10,10));
      border-radius: 5px;
      box-sizing: border-box;
      padding: 5px;
    }


    .err{
      border 1px solid #ff0002 !important; // Просто пример что я ето знаю
    }
  }
}


@media only screen and (max-width: 950px) {
  #main-form{
    flex-wrap: wrap;
    .form-column:nth-child(2){
      width: 80%;
    }
  }
}