//@import '../Arial/ArialBlack/ArialBlack.css';
@import '../Arial/ArialBold/ArialBold.css';
//@import '../Arial/ArialBoldItalic/ArialBoldItalic.css';
@import '../Arial/ArialItalic/ArialItalic.css';
@import '../Arial/ArialRegular/ArialRegular.css';