/* Connect font "Tahoma-Bold-italic"; */
@font-face {
  font-family: 'Arial';
  src: local("ArialBoldItalic"), local("ArialBoldItalic"),
	  url('../ArialBoldItalic/ArialBoldItalic.eot'),
	  url('../ArialBoldItalic/ArialBoldItalic.eot?#iefix') format('embedded-opentype'),
	  url('../ArialBoldItalic/ArialBoldItalic.woff') format('woff'),
	  url('../ArialBoldItalic/ArialBoldItalic.ttf') format('truetype');
	font-weight: 700;
  font-style: normal;
}
