/* Connect font "Arial-Regular"; */
@font-face {
  font-family: 'Arial';
  src: local("ArialRegular"), local("ArialRegular"),
    url('../ArialRegular/ArialRegular.eot'),
    url('../ArialRegular/ArialRegular.eot?#iefix') format('embedded-opentype'),
    url('../ArialRegular/ArialRegular.woff') format('woff'),
    url('../ArialRegular/ArialRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}